@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;

}
.tag{
    margin-left: 23px;
}
.main_body{
    background-image: url('https://source.unsplash.com/collection/190727/1600x900');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    /* box-shadow: 0 0px 12px; */
}
.main_body_tile{
    margin: auto;
    height: 450px;    
}
#box1{
    width: 70%;
    color: white;
    text-shadow: 0 0 12px black;
}
#box2{
    /* border: 2px solid green; */
    backdrop-filter: blur(4px);
    width: 20%;
    text-align: center;
    color: white;
    text-shadow: 0 0 13px black;
    padding: 15px;
}
#box2 ul li{
    padding-top: 8px;
}

/* button box  */
.button_box{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px;
    justify-content: space-evenly;
}
.btn{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 300px;
    /* border: 1px solid rgb(0, 0, 0); */
    margin: 23px;
    overflow: nowrap;
    border-radius: 60px 0 0 60px;
    background-image: linear-gradient(to right, transparent, rgba(128, 128, 128, 0.377));
    

}
.btn button{
    min-width: 80px;
    height: 80px;
    border-radius: 40px;
    outline: none;
    /* border: 1px solid green; */
    border: none;
    background-image: linear-gradient(transparent,rgba(0, 81, 255, 0.479));
    box-shadow: 0 0 4px;
    cursor: pointer;

}
.btn button:hover{
    box-shadow: 0 0 12px;
    background-image: linear-gradient(rgba(0, 128, 0, 0.226), transparent);
    transition-duration: 0.4s;
    transform: scale(1.1);
}
.btn button:active{
    transform: scale(1.2);
    transition-duration: 0.01s;
}
.btn p{
    display: block;
    padding: 10px;
    margin: auto;
    text-justify: auto;
    
}


#btn1{
    background-image: linear-gradient(to right, transparent, rgba(115, 255, 0, 0.377));
}
#btn2{
    background-image: linear-gradient(to right, transparent, rgba(0, 255, 234, 0.377));
}
#btn3{
    background-image: linear-gradient(to right, transparent, rgba(132, 0, 255, 0.377));
}
#btn4{
    background-image: linear-gradient(to right, transparent, rgba(255, 0, 106, 0.377));
}
#btn5{
    background-image: linear-gradient(to right, transparent, rgba(187, 255, 0, 0.377));
}
#btn6{
    background-image: linear-gradient(to right, transparent, rgba(255, 94, 0, 0.377));
}


/* blogs section  */
.blogs_section{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    min-width: 250px;
    margin: 6px;
    border-top: 0px solid black;
    background-color: white;
    box-shadow: 0 0 6px;
    border-radius: 5px;
}
.blog:hover{
    transform: scale(1.015);
    transition-duration: 0.3s;
    border-radius: 8px;
    box-shadow: 0 0 12px;

}
.blog_image{
    /* border: 2px solid black; */
    height: 60%;
    width: 250px;
    background-image: linear-gradient(to right, rgb(64, 175, 209), rgb(0, 255, 213));

}
.blog_description{
    /* border: 2px solid black; */
    height: 40%;
    width: 250px;
    padding: 10px;
    text-shadow: 0 0 1px;
    font-size:small;
}
.blog_description a{
    float: right;
}
footer{

    background-image: linear-gradient(to right,rgba(255, 166, 0, 0.178), rgba(81, 255, 0, 0.144));
}
footer div{
    display: flex;
    justify-content: space-evenly;
}
.fb{
    height: 400px;
    width: 20%;
    border: 2px solid grey;
}
footer p{
    text-align: center;
    margin: 10px;
}