@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.navigation {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.navigation nav {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: rgba(245, 245, 245, 0.568); */
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.171);
    background-image: linear-gradient(to right, rgba(0, 153, 255, 0.596), rgba(255, 255, 0, 0.356));
    overflow: hidden;
}

.logo {
    background-image: url(images/logo.png);
    background-size: cover;
    /* box-shadow: 0 0 8px; */
    border-radius: 50%;
    /* background-image: linear-gradient(blue, green); */
    width: 112px;
    height: 50px;

    background-repeat: no-repeat;
    cursor: pointer;
    /* margin-top: 4px; */
    /* position: relative; */
    /* left: 50px; */
    /* margin-left: 23px; */
    /* background-color: aliceblue; */

    /* background-image: url(images/logo.png); */
}

.nav_links {
    display: flex;
}

.nav_links li {
    list-style: none;
    padding: 15px;
}

.nav_links li a {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.nav_links li a:hover {
    color: green;
}